In [1]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

In [2]:
df=pd.read_csv("data-one-hot-encoder.csv")

In [3]:
df.head()

   Id Colour Country
0   1    Red     USA
1   2    Red     USA
2   3   Blue      UK
3   4  Green  Canada
4   5  Green  Canada

In [4]:
df["Country"].unique()

array(['USA', 'UK', 'Canada'], dtype=object)

In [5]:
lbl_encode=LabelEncoder()

In [7]:
lbl_encode.fit_transform(df["Country"])

array([2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2,
       1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0,
       0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2,
       2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1,
       0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0,
       2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2,
       1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0,
       0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2,
       2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1,
       0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0,
       2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2,
       1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0,
       0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 0, 2,
       2, 1, 0, 0, 2, 2, 1, 0, 0, 2, 2, 1, 0, 2])

In [6]:

df["Country_label"]=lbl_encode.fit_transform(df["Country"])

In [8]:
df["Country_label"]

0      2
1      2
2      1
3      0
4      0
      ..
295    2
296    2
297    1
298    0
299    2
Name: Country_label, Length: 300, dtype: int64

In [9]:
df["Country_label"].value_counts()

Country_label
2    121
0    119
1     60
Name: count, dtype: int64

In [10]:
df.head()

   Id Colour Country  Country_label
0   1    Red     USA              2
1   2    Red     USA              2
2   3   Blue      UK              1
3   4  Green  Canada              0
4   5  Green  Canada              0